.navHamburger{
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200; /*so this is above the backdrop brings up backdrop white*/
    
}

.navHamburger ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center; /*space objects */
    color: #a10d0d;  /*the following 3 aint doing anything trying to change  */
    text-decoration: none;
    font-size: 1.2rem;

}

.navHamburger li {
    margin: 0.5rem 0;    
}

.navHamburger :hover,
.navHamburger :active{
   color: #edfa3f;   
}